@{
    ViewBag.Title = "vipin~Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    <b>Home and Office</b><br />
    New Delhi NCR<br />
    <abbr title="Phone">Phone:</abbr>
    +91-9015610560
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:sahanivipin@gmail.com">sahanivipin@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sahanivipin@gmail.com">sahanivipin@gmail.com</a>
</address>