@{
    ViewBag.Title = "vipin~kumar";
}
<style>
    .quarter-circle-bottom-right {
        margin-top:180px;
        width: 400px;
        height: 400px;
        background-color: #6810e3;
        border-radius: 400px 0 0 0;
        -moz-border-radius: 400px 0 0 0;
        -webkit-border-radius: 400px 0 0 0;
    }
</style>
<div class="jumbotron" >
    <div class="row" style="position:center">
        <div class="col-md-4">
            <h2>
                Hey ! I am <br />
                <span style="color:mediumorchid;font:italic">Vipin Kumar</span><br />
            </h2>
            <br />
            <div class="btn btn-warning">Hire Me</div> <br /><br /><br />
            <div>More details coming in </div>
        </div>
        <div class="col-md-2" style="z-index: 950;">
            <img style="height:800px;padding-right:5px" src="~/Photo/vip_new.png" alt="My Photo" />
        </div>
        <div class="col-md-6" style="z-index: 95;">
            <div class="quarter-circle-bottom-right"></div>
        </div>
    </div>
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Something
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Something</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Something</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>